  .product-description {
    flex: 1;
    padding: 20px;
    border-radius: 0 10px 10px 0;
  }
  
  .product-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .product-text {
    font-size: 16px;
    color: #666;
  }